/*упражнение 1*/
* {
    margin: 0;
    padding: 0;
    width: 9px px;
    height 99px: 100;
}

html {
    background: white;
}

.blackCell {
    background: black;
    width: 45px;
    height: 45px;
}

.whiteCell {
    background: grey;
    width: 45px;
    height: 45px;
}

.horizontalHeader {
    background: brown;
    width: 45px;
    height: 45px;
    border: 1px;
    border-color: blanchedalmond;
}

.verticalHeader {
    background: brown;
    width: 45px;
    height: 45px;
    border: 1px;
    border-color: blanchedalmond;
}

.horizontalRow {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.corner {
    background: brown;
    width: 45px;
    height: 45px;
    border: 1px;
    border-color: blanchedalmond;
}



/*упражнение 2,3*/

.catalog {
    display: flex;
    text-align: center;
    /*flex-direction: row;*/

}

.productItemDiv {
    /* background: grey; */
    display: flex;
    flex-direction: column;
    border: 1px;
    border-color: black;
    margin: 5px;
    border-style: dashed;
}

.productItemImageZone {
    margin: 2px;

}

.productItemImageZone.img {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.productItemNameZone {
    font-size: 10px;
    border: 1px;
    border-color: black;
    border-style: dashed;
    margin: 2px;
}

.productItemPriceZone {
    border: 1px;
    border-color: black;
    border-style: dashed;
    margin: 2px;
}

.productItemButtonZone {
    margin: 2px;
}
